<div nz-col></div>
<nz-divider nzText="ads" nzOrientation="left"></nz-divider>
<nz-row>
  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="start-bttn"
      nz-button
      nzType="primary"
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
    >
      <i nz-icon nzType="play-circle"></i>START
    </button>
  </div>

  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="pause-bttn"
      nz-button
      nzType="primary"
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
    >
      <i nz-icon nzType="pause-circle"></i>PAUSE
    </button>
  </div>

  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="stop-bttn"
      nz-button
      nzType="dashed"
      nzDanger
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
      nzDanger
    >
      <i nz-icon nzType="poweroff"></i>STOP
    </button>
  </div>
  <div nz-col nzSpan="6" [nzPush]="2">
    <nz-progress [nzPercent]="getDonePercents(doneQuests)" nzType="circle" [nzWidth]="80"></nz-progress>
  </div>
</nz-row>

<div nz-col>
  <nz-divider nzText="Monitor" nzOrientation="left"></nz-divider>

  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="6" *ngFor="let quest of quests">
        <nz-list-item>
        <app-device-data [quest]="quest" [loading]="loading" (currentModeEmiter)="acceptData($event)"> </app-device-data>  
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</div>
