<div nz-col></div>
<nz-divider nzText="Control " nzOrientation="left"></nz-divider>
<nz-row>
  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="start-bttn"
      nz-button
      nzType="primary"
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
    >
      <i nz-icon nzType="play-circle"></i>START
    </button>
  </div>

  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="pause-bttn"
      nz-button
      nzType="primary"
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
    >
      <i nz-icon nzType="pause-circle"></i>PAUSE
    </button>
  </div>

  <div nz-col nzSpan="6" [nzPush]="2">
    <button
      class="stop-bttn"
      nz-button
      nzType="dashed"
      nzDanger
      (click)="loadTwo()"
      [nzLoading]="isLoadingTwo"
      nzShape="round"
      nzDanger
    >
      <i nz-icon nzType="poweroff"></i>STOP
    </button>
  </div>
  <div nz-col nzSpan="6" [nzPush]="2">
      <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="80"></nz-progress>

  </div>

</nz-row>

<div nz-col>
  <nz-divider nzText="Monitor" nzOrientation="left"></nz-divider>

  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="6" *ngFor="let item of quests">
        <nz-list-item>
          <nz-card
            style="width: 300px; margin-top: 16px"
            [nzActions]="[questMode, questReset]"
            [nzLoading]="loading"
          >
            <nz-skeleton>
              <nz-card-meta
                nzTitle="{{ item.title }}"
                nzDescription="descriptionTemplate"
              ></nz-card-meta>
            </nz-skeleton>
          </nz-card>

          <ng-template #avatarTemplate>
            <nz-avatar
              nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            ></nz-avatar>
          </ng-template>
          <ng-template #questMode>
            <button nz-button nzType="primary" [nzSize]="large" nzShape="round">
              <i nz-icon nzType="sisternode"></i>
              {{ item.mode }}
            </button>
          </ng-template>
          <ng-template #questReset>
            <button nz-button nzType="primary" [nzSize]="large" nzShape="round">
              <i nz-icon nzType="redo"></i>
              RESET
            </button>
          </ng-template>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</div>
