// .logo {
//   width: 120px;
//   height: 31px;
//   background: rgba(255, 255, 255, 0.2);
//   margin: 16px 24px 16px 0;
//   float: left;
// }

// [nz-menu] {
//   line-height: 64px;
// }

// nz-breadcrumb {
//   margin: 16px 0;
// }

// nz-content {
//   padding: 0 50px;
// }

// nz-footer {
//   text-align: center;
// }

// .inner-content {
//   background: #fff;
//   padding: 24px;
//   min-height: 280px;
// }

// .layout {
//   min-height: 100vh;
// }

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}


.stop-bttn {
  border-color: palevioletred;
  color: palevioletred;
}

.stop-bttn:hover {
    color: red;
    background-color: #fff;
    border-color:red;
}


nz-header {
  width: 100%;
  z-index: 1;
}
nz-header {
  position: fixed;
  background: #001529;
  padding-top: 0%;
  padding-bottom: 0%;
  //bottom: 0;
//  width: 100%;
  text-align: center;
  z-index: 1;
}

// nz-footer {
//   position: fixed;
//   background: #001529;
//   padding-top: 0%;
//   padding-bottom: 0%;
//   bottom: 0;
// //  width: 100%;
//   text-align: center;
//   z-index: 1;
// }
[nz-menu] {
  //line-height: 64px;
  width: 100%;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-menu {

  width: 100%;
  text-align: center;
}

nz-button {
  position: absolute;
}
// nz-space {
//   width: 100%;
// }
// nz-footer {
//   text-align: center;
// }