<nz-layout>
  <nz-content>
    <div class="inner-content">
      <div>
        <router-outlet> </router-outlet>
      </div>
    </div>
  </nz-content>
  <nz-footer>
    <ul nz-menu nzTheme="dark"  nzMode="horizontal">
      <button
        
        class="start-bttn"
        nz-button
        nzType="primary"
        (click)="loadTwo()"
        [nzLoading]="isLoadingTwo"
        nzShape="round"
      >
        <i nz-icon nzType="play-circle"></i>START
      </button>
      <div class="divider"></div>
      <button
        class="pause-bttn"
        nz-button
        nzType="primary"
        (click)="loadTwo()"
        [nzLoading]="isLoadingTwo"
        nzShape="round"
      >
        <i nz-icon nzType="pause-circle"></i>PAUSE
      </button>
      <div class="divider"></div>
      <button
        class="stop-bttn"
        nz-button
        nzType="dashed"
        nzDanger
        (click)="loadTwo()"
        [nzLoading]="isLoadingTwo"
        nzShape="round"
        nzDanger
      >
        <i nz-icon nzType="poweroff"></i>STOP
      </button>
    </ul>
  </nz-footer>
</nz-layout>
